<h1>contact</h1>

<form id="new-user" >
  <input type="text" name='name' id="name" placeholder="Name"><br>
  <input type="text" name='email' id="email" placeholder="Email"><br>
  <input type="submit" value='Save' id="submit">
</form>

<form id="edit-user" >
  <input type="text" name='edit-name' id="edit-name"><br>
  <input type="text" name='edit-email' id="edit-email"><br>
  <input type="submit" value='Save' id="submit">
</form>


