<h1>family</h1>

<form id="new-user" >
  <input type="text" name='married' id="married" placeholder="Married?"><br>
  <input type="text" name='kids' id="kids" placeholder="Kids"><br>
  <input type="text" name='pets' id="pets" placeholder="Pets"><br>
  <input type="text" name='lifeCover' id="lifeCover" placeholder="Life Cover?"><br>
  <input type="text" name='healthCover' id="healthCover" placeholder="Health Cover"><br>
  <input type="submit" value='Save' id="submit">
</form>

<form id="edit-user" >
	<input type="text" name='edit-married' id="edit-married" placeholder="Married?"><br>
	<input type="text" name='edit-kids' id="edit-kids" placeholder="Kids"><br>
	<input type="text" name='edit-pets' id="edit-pets" placeholder="Pets"><br>
	<input type="text" name='edit-lifeCover' id="edit-lifeCover" placeholder="Life Cover?"><br>
	<input type="text" name='edit-healthCover' id="edit-healthCover" placeholder="Health Cover"><br>
	<input type="submit" value='Save' id="submit">
</form>
