
<section id="cards" class='container-fluid'>

  <br>
  <h2  style="border-bottom: 2px solid #0033cc;" >ASPIRATIONS</h2>
  <br>

    <div class='col-sm-6 col-md-6 col-lg-4' >
      <div class='card'>
        <h2 class="card-title">Lifestyle</h4>
          <p>Day to day bills, spending, retirement plans</p>           
          <!--   <button type="submit" value="lifestyle" name="lifestyle" id="lifestyle">Start</button> -->
         <h6>1-10 mins (9 questions)</h6>
      </div>
    </div>

    <div class='col-sm-6 col-md-6 col-lg-4' >
      <div class='card'>
        <h2 class="card-title">Large spend items</h4>
          <p>Big holidays, Renovation, Life events, New car</p>
         <h6>1-10 mins (9 questions)</h6>
      </div>
    </div>

  </div>

</section>


<!-- 
<div id="formscontainer">


<h1>FORMS</h1>

  <form id="new-user" >
    <input type="text" name='name' id="name" placeholder="Name">
    <input type="text" name='email' id="email" placeholder="Email">
    <input type="text" name='family' id="family" placeholder="Family">
    <input type="text" name='tax' id="tax" placeholder="Tax">
    <input type="submit" value='Save' id="submit">
  </form>

  <form id="edit-user" >
    <input type="text" name='edit-name' id="edit-name">
    <input type="text" name='edit-email' id="edit-email">
    <input type="text" name='edit-family' id="edit-family">
    <input type="text" name='edit-tax' id="edit-tax">
    <input type="submit" value='Save' id="submit">
  </form>

  <form id="new-project" >
    <input type="text" name='project-title' id="project-title" placeholder="Title">
    <input type="text" name='project-description' id="project-description" placeholder="Description">
    <input type="text" name='project-github' id="project-github" placeholder="Github">
    <input type="text" name='project-website' id="project-website" placeholder="Website">
    <input type="submit" value='Save' id="submit">
  </form>

  <br>
  <br>

  <form id="new-alm" >
    <input type="text" name='alm-pension' id="alm-pension" placeholder="Pension">
    <input type="text" name='alm-savings' id="alm-savings" placeholder="Savings">
    <input type="text" name='alm-investment' id="alm-investment" placeholder="Investment">
    <input type="text" name='alm-property' id="alm-property" placeholder="Property">
    <input type="text" name='alm-debt' id="alm-debt" placeholder="Debt">
    <input type="submit" value='Save' id="submit">
  </form>

  <br>
  <br>

  <form id="new-cashflow" >
    <input type="text" name='cashflow-job' id="cashflow-job" placeholder="Job">
    <input type="text" name='cashflow-outgoing' id="cashflow-outgoing" placeholder="Outgoing">
    <input type="text" name='cashflow-dividends' id="cashflow-dividends" placeholder="Dividends">
    <input type="text" name='cashflow-rental_income' id="cashflow-rental_income" placeholder="Rental Income">
    <input type="submit" value='Save' id="submit">
  </form>

  <br>
  <br>
 -->
