



<section id="cards" class='container-fluid'>


<h2  style="border-bottom: 2px solid #0033cc;" >PERSONAL</h2>
<br>


  <div class='row'>

    <div class='col-sm-12 col-md-9 col-lg-6' >
      <form id="new-contact" >
        <input type="text" name='name' id="name" placeholder="Name"><br>
        <input type="text" name='email' id="email" placeholder="Email"><br>
        <input type="submit" value='Save' id="submit">
      </form>
    </div>

    <div class='col-sm-12 col-md-9 col-lg-6' >
      <form id="edit-contact" >
        <input type="text" name='edit-name' id="edit-name"><br>
        <input type="text" name='edit-email' id="edit-email"><br>
        <input type="submit" value='Save' id="submit">
      </form>
    </div>
    
    <div class='col-sm-12 col-md-9 col-lg-6' >  
      <form id="new-family" >
        <input type="text" name='married' id="married" placeholder="Married?"><br>
        <input type="text" name='kids' id="kids" placeholder="Kids"><br>
        <input type="text" name='lifeCover' id="lifeCover" placeholder="Life Cover?"><br>
        <input type="submit" value='Save' id="submit">
      </form>
    </div>
    
    <div class='col-sm-12 col-md-9 col-lg-6' >  
      <form id="edit-family" >
        <input type="text" name='edit-married' id="edit-married" placeholder="Married?"><br>
        <input type="text" name='edit-kids' id="edit-kids" placeholder="Kids"><br>
        <input type="text" name='edit-lifeCover' id="edit-lifeCover" placeholder="Life Cover?"><br>
        <input type="submit" value='Save' id="submit">
      </form>
    </div>

</div>



  <div class='row'>

    <div class='col-sm-6 col-md-6 col-lg-4' >
      <div class='card'>
        <h2 class="card-title">Contact details</h4>
          <p>email, address, password, account admin</p>
          <br>
          <a href="#" id="new-contact-toggle">Lets do this</a>
          <!--<a href="#" id="edit-contact-toggle">Edit</a> -->
        <h6>2-3 mins (6 questions)</h6>
      </div>
    </div>

    <div class='col-sm-6 col-md-6 col-lg-4' >
      <div class='card'>
        <h2 class="card-title">Family</h4>
          <p>kids, pets, life cover, healthcare</p>
          <br>
          <a href="#" id="new-family-toggle">Lets do this</a>
        <h6>2-15 mins (9 questions)</h6>
      </div>
    </div>

  </div>

  
<br>
<h2  style="border-bottom: 2px solid #0033cc;" >CASHFLOW</h2>
<br>

    <div class='row'>

      <div class='col-sm-12 col-md-9 col-lg-6' >
        <form id="new-income" >
          <input type="text" name='name' id="name" placeholder="Name"><br>
          <input type="submit" value='Save' id="submit">
        </form>
      </div>

      <div class='col-sm-12 col-md-9 col-lg-6' >
        <form id="edit-income" >
          <input type="text" name='edit-name' id="edit-name"><br>
          <input type="submit" value='Save' id="submit">
        </form>
      </div>
      

  </div>


  <div class='row'>

    <div class='col-sm-6 col-md-6 col-lg-4' >
      <div class='card'>
        <h2 class="card-title">Income</h4>
          <p>Salary, dividends, buy to let, coupons</p>
          <br>
          <a href="/family">Lets do this</a>
        <h6>2-8 mins (6 questions)</h6>
      </div>
    </div>

    <div class='col-sm-6 col-md-6 col-lg-4' >
      <div class='card'>
      <h2 class="card-title">Outgoings</h4>
        <p>Estimates on spending on holidays, bills, running costs, holidays</p>
        <br>
        <a href="/family">Lets do this</a>
      <h6>2-8 mins (6 questions)</h6>
      </div>
    </div>

    <div class='col-sm-6 col-md-6 col-lg-4' >
      <div class='card'>
       <h2 class="card-title">Pension</h4>
         <p>Company plans, defined benefit or defined contribution, SIPPs</p>
         <br>
         <a href="/family">Lets do this</a>
        <h6>3-10 mins (7 questions)</h6>
      </div>
    </div>

  </div>
  
  <br>
  <h2  style="border-bottom: 2px solid #0033cc;" >CAPITAL</h2>
  <br>

    <div class='row'>

      <div class='col-sm-6 col-md-6 col-lg-4' >
        <div class='card'>
          <h2 class="card-title">Savings, Loans</h4>
            <p>Current accounts, savings accounts, loans</p>
            <br>
            <a href="/family">Lets do this</a>
          <h6>3-9 mins (7 questions)</h6>
        </div>
      </div>

      <div class='col-sm-6 col-md-6 col-lg-4' >
      <div class='card'>
        <h2 class="card-title">Property</h4>
          <p>Homes, buy to lets, holiday homes, mortgage</p>
          <br>
          <a href="/family">Lets do this</a>
        <h6>1-15 mins (9 questions)</h6>
      </div>
      </div>

      <div class='col-sm-6 col-md-6 col-lg-4' >
      <div class='card'>
        <h2 class="card-title">Investments</h4>
          <p>Stocks and shares, Bonds, Structured Products, Investment accounts</p>
          <br>
          <a href="/family">Lets do this</a>
        <h6>1-10 mins (9 questions)</h6>
      </div>
    </div>

  </div>


</section>


<!-- 
<div id="formscontainer">


<h1>FORMS</h1>

  <form id="new-user" >
    <input type="text" name='name' id="name" placeholder="Name">
    <input type="text" name='email' id="email" placeholder="Email">
    <input type="text" name='family' id="family" placeholder="Family">
    <input type="text" name='tax' id="tax" placeholder="Tax">
    <input type="submit" value='Save' id="submit">
  </form>

  <form id="edit-user" >
    <input type="text" name='edit-name' id="edit-name">
    <input type="text" name='edit-email' id="edit-email">
    <input type="text" name='edit-family' id="edit-family">
    <input type="text" name='edit-tax' id="edit-tax">
    <input type="submit" value='Save' id="submit">
  </form>

  <form id="new-project" >
    <input type="text" name='project-title' id="project-title" placeholder="Title">
    <input type="text" name='project-description' id="project-description" placeholder="Description">
    <input type="text" name='project-github' id="project-github" placeholder="Github">
    <input type="text" name='project-website' id="project-website" placeholder="Website">
    <input type="submit" value='Save' id="submit">
  </form>

  <br>
  <br>

  <form id="new-alm" >
    <input type="text" name='alm-pension' id="alm-pension" placeholder="Pension">
    <input type="text" name='alm-savings' id="alm-savings" placeholder="Savings">
    <input type="text" name='alm-investment' id="alm-investment" placeholder="Investment">
    <input type="text" name='alm-property' id="alm-property" placeholder="Property">
    <input type="text" name='alm-debt' id="alm-debt" placeholder="Debt">
    <input type="submit" value='Save' id="submit">
  </form>

  <br>
  <br>

  <form id="new-cashflow" >
    <input type="text" name='cashflow-job' id="cashflow-job" placeholder="Job">
    <input type="text" name='cashflow-outgoing' id="cashflow-outgoing" placeholder="Outgoing">
    <input type="text" name='cashflow-dividends' id="cashflow-dividends" placeholder="Dividends">
    <input type="text" name='cashflow-rental_income' id="cashflow-rental_income" placeholder="Rental Income">
    <input type="submit" value='Save' id="submit">
  </form>

  <br>
  <br>
 -->
