

<div id="index-container">

  <div id="shapescontainer">  

    <div class="triangle-down-right" id="B-triangle"></div>
    <!-- THIS WILL REVEAL HOPES AND ASPIRATIONS FORMS -->

    <div class="triangle-down-right" id="A-triangle">
    <!-- THIS WILL REVEAL ALM / CASHFLOW FORMS -->
      <div class='triangle-content'>A</div>
    </div>

    <div class='square-box'>
      <div class='square-content'><div><span>How to get from A to B</span></div></div>
    </div>

  </div>  


     <div id="formscontainer">  <!--   this is the div for all the data requests-->      
        <h2> We are simplifying Financial Advice into 3 steps:<br> 
          <a class="links" id="step1" href='/financialCashflow'>STEP 1:</a> We go through what you currently have<br>
          <a class="links" href='/financialALM'>STEP 2:</a> We go through your hopes and aspirations. <br>
          <a class="links" href='#'>STEP 3:</a> We provide you with throughts on how to achieve this <br>
        </h2>

        <div id="users"></div>
        <div id="show"></div>
        <div id="projects"></div>
        <div id="cashflow"></div>
        <div id="alm">
<!--           <div class='col-sm-6 col-md-6 col-lg-4'>"HELLO"</div> -->
        </div>
     </div> 


   </div>
</div>
