<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>FutureAdvisor</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/style2.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">FutureAdvisor</a></li>
        <li><a id="about" href="/about">About</a></li>
        <!--  <li><a id="user-form-button" href="#">Add User</a></li> -->
        <li><a id="user-index-button" href="#">Log-in / Sign-up</a></li>

          <!-- THIS SHOULD SWITCH BETWEEN REGISTRATION FORM / OR LOG IN FORM -->
      </ul>
    </nav>
  </header>

  <main class="container">
    <%- body %>
  </main>









<!--   <footer>
  hello
  </footer> -->

</body>

</html>


